.bgdark {
    background:#f3f7d6;
    color: white;
    border: 1px solid #00000024;
    border-radius: 7px;
}

  .table th {
    background-color: #222; /* Fondo oscuro para el encabezado */
    color: rgb(255, 174, 0); /* Color de texto para el encabezado */
    font-weight: bold; /* Texto en negrita */
  }
  .table td {
    color: rgb(0, 0, 0); /* Color de texto para las celdas */
    font-size: 15px; /* Tamaño de fuente */
  }  

.usuario-title {
  text-align: center;
  color: white;
  margin-top: 80px; /* ajusta según el alto de tu top-navbar */
}

