body {
    background-color: #090536;
    color: white;
    font-family: 'Arial', sans-serif; /* Aplica la fuente sans-serif */
}



@media (max-width: 768px) {

    .content {
        margin-left: 0px;
    }
}
/* fondo de sweetalert2*/
.swal2-popup {
    background-color: #333333 !important; /* Fondo del modal */
    color: #ffffff !important;           /* Color del texto */
}