body {
    background: linear-gradient(to bottom, #4e342e, #c62828, #f6ac00);
    color: #f5f5f5;
    font-family: 'Arial', sans-serif';
}



@media (max-width: 768px) {

    .content {
        margin-left: 0px;
    }
}
/* fondo de sweetalert2*/
.swal2-popup {
    background-color: #333333 !important; /* Fondo del modal */
    color: #ffffff !important;           /* Color del texto */
}